<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>test thymeleaf</title>
    <link href="https://unpkg.com/element-ui@2.8.2/lib/theme-chalk/index.css" rel="stylesheet"/>
    <link th:href="@{/css/common.css}" rel="stylesheet"/>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/Vue.js}"></script>
    <script th:src="@{/js/element-ui/index.js}"></script>
    <script th:src="@{/js/axios/axios.min.js}"></script>
    <script th:src="@{/js/url-search-params-polyfill/index.js}"></script>
    <script th:src="@{/js/babel-polyfill/polyfill.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
</head>
<body>
<!-- 基础Vue挂载 -->
<div id="main" style="height: 100%;">

    <div class="body-header">
        <el-breadcrumb separator="/">
            <el-breadcrumb-item><a>首页</a></el-breadcrumb-item>
        </el-breadcrumb>
    </div>

    <div class="body-main">

        <!--<el-calendar></el-calendar>-->


    </div>

</div>
</body>

<!-- page js -->
<script th:src="@{/js/bussiness/home/home.js}"></script>
</html>