<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icefrog.strollit.business.dao.TbPartyMapper" >
  <resultMap id="BaseResultMap" type="com.icefrog.strollit.business.model.TbParty" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="responsible_id" property="responsibleId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="party_type" property="partyType" jdbcType="VARCHAR" />
    <result column="info_address" property="infoAddress" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="weixin" property="weixin" jdbcType="VARCHAR" />
    <result column="consume_type" property="consumeType" jdbcType="VARCHAR" />
    <result column="warning" property="warning" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, responsible_id, create_time, update_time, start_time, end_time, party_type, 
    info_address, comment, mobile, weixin, consume_type, warning, is_del
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_party
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_party
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.icefrog.strollit.business.model.TbParty" >
    insert into tb_party (id, user_id, responsible_id, 
      create_time, update_time, start_time, 
      end_time, party_type, info_address, 
      comment, mobile, weixin, 
      consume_type, warning, is_del
      )
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{responsibleId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{partyType,jdbcType=VARCHAR}, #{infoAddress,jdbcType=VARCHAR}, 
      #{comment,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{weixin,jdbcType=VARCHAR}, 
      #{consumeType,jdbcType=VARCHAR}, #{warning,jdbcType=VARCHAR}, #{isDel,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.icefrog.strollit.business.model.TbParty" >
    insert into tb_party
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="responsibleId != null" >
        responsible_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="partyType != null" >
        party_type,
      </if>
      <if test="infoAddress != null" >
        info_address,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="weixin != null" >
        weixin,
      </if>
      <if test="consumeType != null" >
        consume_type,
      </if>
      <if test="warning != null" >
        warning,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="responsibleId != null" >
        #{responsibleId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="partyType != null" >
        #{partyType,jdbcType=VARCHAR},
      </if>
      <if test="infoAddress != null" >
        #{infoAddress,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null" >
        #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="consumeType != null" >
        #{consumeType,jdbcType=VARCHAR},
      </if>
      <if test="warning != null" >
        #{warning,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.icefrog.strollit.business.model.TbParty" >
    update tb_party
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="responsibleId != null" >
        responsible_id = #{responsibleId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="partyType != null" >
        party_type = #{partyType,jdbcType=VARCHAR},
      </if>
      <if test="infoAddress != null" >
        info_address = #{infoAddress,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null" >
        weixin = #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="consumeType != null" >
        consume_type = #{consumeType,jdbcType=VARCHAR},
      </if>
      <if test="warning != null" >
        warning = #{warning,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.icefrog.strollit.business.model.TbParty" >
    update tb_party
    set user_id = #{userId,jdbcType=VARCHAR},
      responsible_id = #{responsibleId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      party_type = #{partyType,jdbcType=VARCHAR},
      info_address = #{infoAddress,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      weixin = #{weixin,jdbcType=VARCHAR},
      consume_type = #{consumeType,jdbcType=VARCHAR},
      warning = #{warning,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>